# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
**/*.keystore

# Metro bundler
.metro/
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log*

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows system files and image file caches
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# JetBrains IDE
.idea/

# Visual Studio Code
.vscode/

# Certificates
*.pem
*.cer
*.der

# Environment variables
.env*
!.env.example

# TypeScript build files
*.tsbuildinfo

# Log files
logs

# Firebase configuration files
GoogleService-Info.plist
google-services.json
